<div (mouseenter)="pause()" (mouseleave)="play()" class="carousel slide">
  <ol class="carousel-indicators" [hidden]="slides.length <= 1">
    <li *ngFor="let slidez of slides" [class.active]="slidez.active === true" (click)="select(slidez)"></li>
  </ol>
  <div>
    <ng-content></ng-content>
  </div>
  <a class="left carousel-control" (click)="prev()" [hidden]="!slides.length">
    <span class="glyphicon-chevron-left">
      <
    </span>
  </a>
  <a class="right carousel-control" (click)="next()" [hidden]="!slides.length">
    <span class="glyphicon-chevron-right">></span>
  </a>
</div>
